.voice-sample-box { margin: 4px 0 6px 0; }
.voice-sample-label {
  font-size: 0.92rem;
  color: #2947ed;
  font-weight: 550;
  margin-bottom: 2px;
}
.voice-sample-label[style] { color: gray !important; }
.voice-sample-audio {
  width: 85%;
  margin-left: 6px;
  background: #f5f6f9;
  border-radius: 5px; outline: none;
}
